.header_name {
  font-size: 6rem;
}

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

<<<<<<< HEAD
.productIcon {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  width: 35vw;
  border: solid 1px black;
  border-radius: 0.5rem;
}

.productIcon-left {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.productIcon-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productIcon_btn {
  margin: 1rem;
  height: 2rem;
  width: 6rem;
  border: 0px;
  border-radius: 0.5rem;
  background-color: rgb(196, 193, 193);
}

.productIcon-stock {
  color: red;
=======
.shopping-cart {
  display: flex;
  border: solid 1px black;
>>>>>>> main
}
